header{
    color:black;
}

.header-container{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

header img{
    width: 70px;
    height: 50px;
}

.header-container:after{
    content: '';
    width: 480px;
    height: 2px;
    display: inline-block;
    background-color: rgb(184, 184, 184);
    position:  absolute;
    left: 0px;
    bottom: 0px;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

header ul li{
    padding-right: 20px;
}

header a{
    color: black;
    margin-left:auto;
    padding-top:10px;
}

.top{
    margin-top: 60px;
}

.top-container{
    width: 1170px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}

.top img{
    width:780px;
    height: 450px;
    box-shadow: 10px 10px 4px black;
}

.top h1{
    letter-spacing: 2px;
    padding: 40px 20px;
}

.btn{
    background-color: black;
    color: white;
    padding:15px 30px;
    margin-left: 30px;
    box-shadow: 4px 4px 4px black;
}